<a href="https://colab.research.google.com/github/Ogaang/Python-Practice/blob/master/Practice_1day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown 제목 1
## Markdown 제목 2
### Markdown 제목 3
#### Markdown 제목 4

* 내용1
    * 내용 1-1
    * 내용 1-2
        * 내용 1-1-1

* Markdown은 ***문서 작성***을 위한 mark up이다.

* 표작성

|표제목|항목1|항목2|항목3|
|---|:---|:---:|---:|
|1|내용1-1|내용2-1|내용3-1|
|2|50|90|70|
|3|100|100|100|

In [ ]:
for _ in range( 5 ):
    print( 'Hello, World!!!' )

Hello, World!!!
Hello, World!!!
Hello, World!!!
Hello, World!!!
Hello, World!!!

In [ ]:
print( 'Hello, World!!!' ) # 함수, 내장 함수
print( "Hello, World!!!" )

Hello, World!!!
Hello, World!!!

In [ ]:
print( 'Hello, World!!!' ) 
 print( "Hello, World!!!" ) # indentation이 윗줄과 다르다.

IndentationError: ignored

In [ ]:
    print( 'Hello, World!!!' ) # 함수, 내장 함수
    print( "Hello, World!!!" )

Hello, World!!!
Hello, World!!!

In [ ]:
for i in range( 1, 6 ):
print( i )

IndentationError: ignored

In [ ]:
for i in range( 1, 6 ):
    print( i ) # for문에 대한 코드 블럭 내용
print( 'stop script' )

1
2
3
4
5
stop script

In [ ]:
for i in range( 1, 6 ):
    print( i ) # for문에 대한 코드 블럭 내용
    print( 'stop script' )

1
stop script
2
stop script
3
stop script
4
stop script
5
stop script

# 파이썬 기본 자료형

In [ ]:
# 기본 자료형의 값을 저장하는 변수 정의
# 변수명 = 값
int_number = 10
float_number = 10.5
complex_number = 2 + 3j
byte_data = b'hello'
boolean_data = True

In [ ]:
# type() 함수 : 자료형 확인용 파이썬 내장 함수
print( type( int_number ) )
print( type( float_number ) )
print( type( complex_number ) )
print( type( byte_data ) )
print( type( boolean_data ) )

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bytes'>
<class 'bool'>

In [ ]:
# id() 함수 : 변수/리터럴의 메모리 위치값( reference ) 확인 내장 함수
id( int_number )

93941141977888

In [ ]:
int_number = 10.5
print( type( int_number ) )
print( id( int_number ) )

<class 'float'>
140414794144720

In [ ]:
print( id( 10 ) ) # 10 이라는 리터럴의 id값
print( id( 10.5 ) ) # 10.5 라는 리터럴의 id값

93941141977888
140414793654896

## 변수 사용

* 변수 생성
* 변수 내용 변경

In [ ]:
# 변수 생성 : 0 저장
# 변수를 처음 생성할 때 저장한 값을 초기값이라 한다.
number = 0

In [ ]:
number

0

In [ ]:
number = 20 # 변수 내용 변경( 치환 ) : 20으로 변경

In [ ]:
number

20

In [ ]:
# L value   R value
number2   = 15
number3 = 30
# number2 변수 내용과 number3 변수 내용을 더한값을
# number 변수에 저장( 치환 ) 
number = number2 + number3

In [ ]:
number

45

In [ ]:
number = number + 1
number

46

In [ ]:
number = number + 1
number

47

In [ ]:
number = number + 2
number

49

## 표준 입출력

In [ ]:
value = input() # 표준 입력 장치로 부터 입력
print( value ) # 표준 출력 장치에 출력

50
50

In [ ]:
value = input( '숫자를 입력하세요 : ' )
print( value )

숫자를 입력하세요 : 10
10

In [ ]:
value = input( "숫자를 입력하세요 : " )
print( value )

숫자를 입력하세요 : 100
100

In [ ]:
number1 = input( '첫번째 숫자를 입력하세요 : ' )
number2 = input( '두번째 숫자를 입력하세요 : ' )
add = number1 + number2
print( add )

첫번째 숫자를 입력하세요 : 10
두번째 숫자를 입력하세요 : 20
1020

In [ ]:
print( type( number1 ) )
print( type( number2 ) )
print( type( add ) )

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
number1 = int( input( '첫번째 숫자를 입력하세요 : ' ) )
number2 = int( input( '두번째 숫자를 입력하세요 : ' ) )
add = number1 + number2
print( add )

첫번째 숫자를 입력하세요 : 10
두번째 숫자를 입력하세요 : 20
30

In [ ]:
print( type( number1 ) )
print( type( number2 ) )
print( type( add ) )

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
number1 = int( input( '첫번째 숫자를 입력하세요 : ' ) )
number2 = int( input( '두번째 숫자를 입력하세요 : ' ) )
add = number1 + number2
print( add )

첫번째 숫자를 입력하세요 : 10.5

ValueError: ignored

In [ ]:
number1 = int( float( input( '첫번째 숫자를 입력하세요 : ' ) ) )
number2 = int( float( input( '두번째 숫자를 입력하세요 : ' ) ) )
add = number1 + number2
print( add )

첫번째 숫자를 입력하세요 : 10.5
두번째 숫자를 입력하세요 : 20.9
30

In [ ]:
number1 = int( float( input( '첫번째 숫자를 입력하세요 : ' ) ) )
number2 = int( float( input( '두번째 숫자를 입력하세요 : ' ) ) )
add = number1 + number2
print( add )

첫번째 숫자를 입력하세요 : 0.1e+2
두번째 숫자를 입력하세요 : 0.2e+2
30

In [ ]:
number1 = int( float( input( '첫번째 숫자를 입력하세요 : ' ) ) )
number2 = int( float( input( '두번째 숫자를 입력하세요 : ' ) ) )
add = number1 + number2
print( add )

첫번째 숫자를 입력하세요 : 10a5

ValueError: ignored

### print() 함수

In [ ]:
print( number1 ) # number1 변수 내용 출력

10

In [ ]:
print( 'number1 = ', number1 ) # 문자열과 number1 변수 출력

number1 =  10

In [ ]:
print( 'number1 = \n', number1 )

number1 =
 10

In [ ]:
print( 'number1 = \t', number1 )

number1 = 	 10

In [ ]:
print( 'number1 = ', number1, '\n', 'number2 = ', number2 )

number1 =  10
 number2 =  20

In [ ]:
print( 'number1 = ', number1 )
print( 'number2 = ', number2 )

number1 =  10
number2 =  20

In [ ]:
print( 'number1 = ', number1, end = '\t' )
print( 'number2 = ', number2 )

number1 =  10	number2 =  20

In [ ]:
print( 'number1 = ', number1, end = '|' )
print( 'number2 = ', number2 )

number1 =  10|number2 =  20

In [ ]:
print( 'number1 = ', number1, end = ' ' )
print( 'number2 = ', number2 )

number1 =  10 number2 =  20

In [ ]:
print( 'number1 = ', number1, end = '\n' )
print( 'number2 = ', number2 )

number1 =  10
number2 =  20

### 연산자

#### 산술 연산

In [ ]:
number1 = 10
number2 = 20
fnumber1 = 10.5
fnumber2 = 20.9

In [ ]:
# 정수에 대한 산술 연산
print( number1, ' + ', number2, ' = ', number1 + number2 )
print( number1, ' - ', number2, ' = ', number1 - number2 )
print( number1, ' * ', number2, ' = ', number1 * number2 )
print( number1, ' / ', number2, ' = ', number1 / number2 )

# 정수 나눗셈
print( number1, ' // ', number2, ' = ', number1 // number2 ) 
# 나머지 연산
print( number1, ' % ', number2, ' = ', number1 % number2 )

10  +  20  =  30
10  -  20  =  -10
10  *  20  =  200
10  /  20  =  0.5
10  //  20  =  0
10  %  20  =  10

In [ ]:
print( fnumber1, ' + ', fnumber2, ' = ', fnumber1 + fnumber2 )
print( fnumber1, ' - ', fnumber2, ' = ', fnumber1 - fnumber2 )
print( fnumber1, ' * ', fnumber2, ' = ', fnumber1 * fnumber2 )
print( fnumber1, ' / ', fnumber2, ' = ', fnumber1 / fnumber2 )

10.5  +  20.9  =  31.4
10.5  -  20.9  =  -10.399999999999999
10.5  *  20.9  =  219.45
10.5  /  20.9  =  0.5023923444976077

In [ ]:
print( number1, ' * ', fnumber1, ' = ', number1 * fnumber2 )

10  *  10.5  =  209.0

In [ ]:
# 제곱 연산
print( number1, ' ** ', 1000, ' = ', number1 ** 1000 )

10  **  1000  =  10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
print( 'number1 = ', number1 )
number1 = number1 + 1
print( 'number1 = ', number1 )
# 누적 단축 연산자
number1 += 1
print( 'number1 = ', number1 )

number1 =  10
number1 =  11
number1 =  12

#### 관계연산

In [ ]:
number1 > number2

False

In [ ]:
number1 < number2

True

In [ ]:
number1 != number2

True

In [ ]:
number1 == number2

False

In [ ]:
True > False

True

In [ ]:
True < False

False

In [ ]:
print( 'True + False = ', True + False )

True + False =  1

In [ ]:
True + True + True

3

#### 논리 연산

In [ ]:
number1 > 5 and number1 < 20

True

In [ ]:
5 < number1 < 20

True

In [ ]:
number1 > 10

True

In [ ]:
not number1 > 10

False

## 실습) 2개의 정수를 입력받아 사칙연산 결과를 출력하는 파이썬 스크립트

In [ ]:
number1 = int( float( input( '첫번째 정수 입력 : ' ) ) )
number2 = int( float( input( '두번째 정수 입력 : ' ) ) )

add = number1 + number2
subtract = number1 - number2
multiple = number1 * number2
divide = number1 / number2

print( number1, ' + ', number2, ' = ', add )
print( number1, ' - ', number2, ' = ', subtract )
print( number1, ' * ', number2, ' = ', multiple )
print( number1, ' / ', number2, ' = ', divide )

첫번째 정수 입력 : 29
두번째 정수 입력 : 3
29  +  3  =  32
29  -  3  =  26
29  *  3  =  87
29  /  3  =  9.666666666666666