<a href="https://colab.research.google.com/github/Ogaang/Python-Practice/blob/master/Practice_4day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

## 산술 내장 함수

* 5개의 데이터에 대한 최대값/최소값/합계 계산 파이썬 스크립트

In [ ]:
l = [ 32.515, 62.718, 82.638, 71.376, -53.995 ]

print( f'l = {l} ( {len( l )} )' )

l = [32.515, 62.718, 82.638, 71.376, -53.995] ( 5 )

* 알고리즘을 직접 적용하여 최대값/최소값/합계 계산

In [ ]:
max_number = l[ 0 ]
min_number = l[ 0 ]
total = 0

for value in l:
    if value > max_number:
        max_number = value

    if value < min_number:
        min_number = value

    total += value

print( f'max : {max_number:7.3f}' )
print( f'min : {min_number:7.3f}' )
print( f'sum : {total:7.3f}' )

max :  82.638
min : -53.995
sum : 195.252

* 내장함수를 이용한 최대값/최소값/합계 계산

In [ ]:
print( f'max : {max( l ):7.3f}' ) # 최대값
print( f'min : {min( l ):7.3f}' ) # 최소값
print( f'sum : {sum( l ):7.3f}' ) # 합계

max :  82.638
min : -53.995
sum : 195.252

In [ ]:
print( f'average : {sum( l ) / len( l ):7.3f}' )

average :  39.050

In [ ]:
print( f'{l[ len( l ) - 1 ]}의 절대값 :  \
{abs( l[ len( l ) - 1 ] )}' )

-53.995의 절대값 :  53.995

In [ ]:
for value in l:
    print( f'{value}\t{value:7.2f}\t{value:7.4f}' )

32.515	  32.52	32.5150
62.718	  62.72	62.7180
82.638	  82.64	82.6380
71.376	  71.38	71.3760
-53.995	 -53.99	-53.9950

In [ ]:
print( f'round() : {round( l[ 0 ], 2 )}' )

round() : 32.52

## list 복사

In [ ]:
print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )

l = [32.515, 62.718, 82.638, 71.376, -53.995] ( 5 ) [ 139911745105024 ]

In [ ]:
# list 내용을 복사하는 것이 아니고
# list의 reference를 복사한다.
l_copy = l 

print( f'l_copy = {l_copy} ( {len( l_copy )} ) [ {id( l_copy )} ]' )

l_copy = [32.515, 62.718, 82.638, 71.376, -53.995] ( 5 ) [ 139911745105024 ]

In [ ]:
l_copy[ 1 ] = 3.141592

In [ ]:
print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )
print( f'l_copy = {l_copy} ( {len( l_copy )} ) [ {id( l_copy )} ]' )

l = [32.515, 3.141592, 82.638, 71.376, -53.995] ( 5 ) [ 139911745105024 ]
l_copy = [32.515, 3.141592, 82.638, 71.376, -53.995] ( 5 ) [ 139911745105024 ]

* copy 모듈의 copy() 함수를 이용한 list 복사

In [ ]:
import copy # 모듈 로드

# 새로운 list 생성후 원본 list 내용을 복사
l_copy2 = copy.copy( l )

In [ ]:
print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )
print( f'l_copy2 = {l_copy2} ( {len( l_copy2 )} ) [ {id( l_copy2 )} ]' )

l = [32.515, 3.141592, 82.638, 71.376, -53.995] ( 5 ) [ 139911745105024 ]
l_copy2 = [32.515, 3.141592, 82.638, 71.376, -53.995] ( 5 ) [ 139911614817216 ]

In [ ]:
l_copy2[ 1 ] = 350

In [ ]:
print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )
print( f'l_copy2 = {l_copy2} ( {len( l_copy2 )} ) [ {id( l_copy2 )} ]' )

l = [32.515, 3.141592, 82.638, 71.376, -53.995] ( 5 ) [ 139911745105024 ]
l_copy2 = [32.515, 350, 82.638, 71.376, -53.995] ( 5 ) [ 139911614817216 ]

## list comprehension

In [ ]:
# 1 ~ 100사이의 짝수를 저장하는 list 생성
l = []

for i in range( 2, 101, 2 ):
    l.append( i )

print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )

l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] ( 50 ) [ 139911614108768 ]

In [ ]:
# 1 ~ 100사이의 짝수를 저장하는 list 생성
# list comprehension 이용
l = [ value for value in range( 2, 101, 2 ) ]

print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )

l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] ( 50 ) [ 139911613646800 ]

In [ ]:
# 1 ~ 100사이의 짝수를 저장하는 list 생성
l = []

for i in range( 1, 101 ):
    if i % 2 == 0:
        l.append( i )

print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )

l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] ( 50 ) [ 139911613792496 ]

In [ ]:
# 1 ~ 100사이의 짝수를 저장하는 list 생성
# list comprehension 이용
l = [ value for value in range( 1, 101 ) if value % 2 == 0 ]

print( f'l = {l} ( {len( l )} ) [ {id( l )} ]' )

l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] ( 50 ) [ 139911613545440 ]

# dict

* list를 이용한 검색 프로그램

In [ ]:
data = [ 5, 10, 1, 2, 4, 7, 6, 8, 9, 3 ]

search_key = int( float( input( '검색어 입력 ( 종료 : -1 ): ' ) ) )
while search_key != -1:
    count = data.count( search_key )
    if count == 0:
        search_ok = False
    else:
        position = data.index( search_key )
        search_ok = True

    if search_ok:
        print( f'{search_key}값은 {position}번째에 존재' )
    else:
        print( f'Error : {search_key}값은 없음!!!' )
    search_key = int( float( input( '검색어 입력 ( 종료 : -1 ): ' ) ) )

검색어 입력 ( 종료 : -1 ): 5
5값은 0번째에 존재
검색어 입력 ( 종료 : -1 ): 10
10값은 1번째에 존재
검색어 입력 ( 종료 : -1 ): 11
Error : 11값은 없음!!!
검색어 입력 ( 종료 : -1 ): -1

## dict 생성

In [ ]:
# 빈 dict 생성
d = {}

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {} ( <class 'dict'> - 0 )

In [ ]:
d = dict()

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {} ( <class 'dict'> - 0 )

In [ ]:
# 초기값을 부여한 dict 생성
d = { 'name': 'hong', 'tel': '010-1234-5678', 
      'email': 'hong@korea.com' }

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'name': 'hong', 'tel': '010-1234-5678', 'email': 'hong@korea.com'} ( <class 'dict'> - 3 )

In [ ]:
d = { 'hong': [ 50, 50, 50, 150, 50.0 ],
      'kim': [ 90, 90, 90, 270, 90.0 ],
      'lee': [ 70, 70, 70, 210, 70.0 ] }

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0]} ( <class 'dict'> - 3 )

In [ ]:
d = dict( name = 'hong', tel = '010-1234-5678',
          email = 'hong@korea.com' )

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'name': 'hong', 'tel': '010-1234-5678', 'email': 'hong@korea.com'} ( <class 'dict'> - 3 )

In [ ]:
l = [ [ 'name', 'hong' ], 
      [ 'tel', '010-1234-5678' ], 
      [ 'email', 'hong@korea.com' ] ]
d = dict( l )

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'name': 'hong', 'tel': '010-1234-5678', 'email': 'hong@korea.com'} ( <class 'dict'> - 3 )

## sequence 자료형 공통 연산

In [ ]:
# indexing
d[ 0 ]

KeyError: ignored

In [ ]:
# slicing
d[ :2 ]

TypeError: ignored

In [ ]:
# 연결
d + d

TypeError: ignored

In [ ]:
# 반복
d * 5

TypeError: ignored

In [ ]:
# 포함 유무 확인 - key를 대상으로 확인
'name' in d

True

In [ ]:
'hong' in d

False

In [ ]:
# 길이 계산
len( d )

3

## dict 값 읽기 및 쓰기

In [ ]:
print( f'd의 name key 내용 : {d[ "name" ]}' )

d의 name key 내용 : hong

In [ ]:
d[ 'name' ] = 'kim'
d[ 'tel' ] = '010-9876-5432'
d[ 'email' ] = 'kim@korea.com'

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'name': 'kim', 'tel': '010-9876-5432', 'email': 'kim@korea.com'} ( <class 'dict'> - 3 )

## dict에 값 추가

In [ ]:
# age key는 존재하지 않기 때문에 새로운 값으로 dict에 추가
d[ 'age' ] = 25

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'name': 'kim', 'tel': '010-9876-5432', 'email': 'kim@korea.com', 'age': 25} ( <class 'dict'> - 4 )

In [ ]:
d[ 'age' ] = 35 # 값 쓰기

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'name': 'kim', 'tel': '010-9876-5432', 'email': 'kim@korea.com', 'age': 35} ( <class 'dict'> - 4 )

## dict 메서드

In [ ]:
d[ 'name' ] # dict의 요소 읽기

'kim'

In [ ]:
# 존재하지 않는 key로 읽기 하면 error
d[ 'address' ]

KeyError: ignored

In [ ]:
# dict.get( key [ , 검색 실패시 반환값 ] )
result = d.get( 'address', False )
if result:
    print( f'addres : {result}' )
else:
    print( f'addres key는 존재하지 않음' )

addres key는 존재하지 않음

In [ ]:
result = d.get( 'age', False )
if result:
    print( f'age : {result}' )
else:
    print( f'age key는 존재하지 않음' )

age : 35

In [ ]:
d.get( 'age' )

35

In [ ]:
d.get( 'address' )

In [ ]:
# update() 메서드 : dict 요소 갱신
d1 = { 'sun': 0, 'mon': 1, 'tue': 2 }
d2 = { 'wed': 3, 'thu': 4, 'fri': 5 }

In [ ]:
print( f'd1 = {d1} ( {type( d1 )} - {len( d1 )} )' )
print( f'd2 = {d2} ( {type( d2 )} - {len( d2 )} )' )

d1 = {'sun': 0, 'mon': 1, 'tue': 2} ( <class 'dict'> - 3 )
d2 = {'wed': 3, 'thu': 4, 'fri': 5} ( <class 'dict'> - 3 )

In [ ]:
d1.update( d2 )
print( f'd1 = {d1} ( {type( d1 )} - {len( d1 )} )' )

d1 = {'sun': 0, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5} ( <class 'dict'> - 6 )

In [ ]:
# update() 메서드 대신에 ** 기호를 사용한 dict 생성
d3 = { **d1, **d2 }
print( f'd3 = {d3} ( {type( d3 )} - {len( d3 )} )' )

d3 = {'sun': 0, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5} ( <class 'dict'> - 6 )

In [ ]:
d4 = { **d1, **d2, **d3 }
print( f'd4 = {d4} ( {type( d4 )} - {len( d4 )} )' )

d4 = {'sun': 0, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5} ( <class 'dict'> - 6 )

### 삭제

In [ ]:
# del 명령
del d4[ 'sun' ]

In [ ]:
print( f'd4 = {d4} ( {type( d4 )} - {len( d4 )} )' )

d4 = {'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5} ( <class 'dict'> - 5 )

In [ ]:
# pop 메서드
result = d4.pop( 'thu' )
print( f'd4 = {d4} ( {type( d4 )} - {len( d4 )} )' )
print( f'result : {result}' )

d4 = {'mon': 1, 'tue': 2, 'wed': 3, 'fri': 5} ( <class 'dict'> - 4 )
result : 4

In [ ]:
result = d4.popitem()
print( f'd4 = {d4} ( {type( d4 )} - {len( d4 )} )' )
print( f'result : {result}' )

d4 = {'mon': 1, 'tue': 2, 'wed': 3} ( <class 'dict'> - 3 )
result : ('fri', 5)

In [ ]:
result = d4.popitem()
print( f'd4 = {d4} ( {type( d4 )} - {len( d4 )} )' )
print( f'result : {result}' )

d4 = {'mon': 1, 'tue': 2} ( <class 'dict'> - 2 )
result : ('wed', 3)

In [ ]:
# clear()
d4.clear()
print( f'd4 = {d4} ( {type( d4 )} - {len( d4 )} )' )

d4 = {} ( <class 'dict'> - 0 )

### 순회

In [ ]:
d = { 'name': 'hong', 'tel': '010-1234-5678', 
      'email': 'hong@korea.com' }

print( f'd = {d} ( {type( d )} - {len( d )} )' )

d = {'name': 'hong', 'tel': '010-1234-5678', 'email': 'hong@korea.com'} ( <class 'dict'> - 3 )

In [ ]:
# dict의 key에 대한 순회
for key in d: # dict 순회시 기본 반환값 key
    print( f'key : {key}' )

key : name
key : tel
key : email

In [ ]:
for key in d.keys():
    print( f'key : {key}' )

key : name
key : tel
key : email

In [ ]:
# dict의 value에 대한 순회
for value in d.values():
    print( f'value : {value}' )

value : hong
value : 010-1234-5678
value : hong@korea.com

In [ ]:
# dict의 ( key, value )에 대한 순회
for key, value in d.items():
    print( f'{key} : [ {value} ]' )

name : [ hong ]
tel : [ 010-1234-5678 ]
email : [ hong@korea.com ]

In [ ]:
d = { 'hong': [ 50, 50, 50, 150, 50.0 ],
      'kim': [ 90, 90, 90, 270, 90.0 ],
      'lee': [ 70, 70, 70, 210, 70.0 ] }

for key, value in d.items():
    print( f'{key:<5}', end = '' )
    for v in value:
        print( f'{v} ', end = '' )
    print()

hong 50 50 50 150 50.0
kim  90 90 90 270 90.0
lee  70 70 70 210 70.0

### 복사

In [ ]:
d_copy = d

print( f'd      : {d} ( {len( d )} ) [ {id( d )} ]' )
print( f'd_copy : {d_copy} ( {len( d_copy )} ) [ {id( d_copy )} ]' )

d      : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0]} ( 3 ) [ 139911612967824 ]
d_copy : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0]} ( 3 ) [ 139911612967824 ]

In [ ]:
d_copy[ 'name' ] = 'HONG'

In [ ]:
print( f'd      : {d} ( {len( d )} ) [ {id( d )} ]' )
print( f'd_copy : {d_copy} ( {len( d_copy )} ) [ {id( d_copy )} ]' )

d      : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0], 'name': 'HONG'} ( 4 ) [ 139911612967824 ]
d_copy : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0], 'name': 'HONG'} ( 4 ) [ 139911612967824 ]

In [ ]:
import copy

d_copy = copy.copy( d )

print( f'd      : {d} ( {len( d )} ) [ {id( d )} ]' )
print( f'd_copy : {d_copy} ( {len( d_copy )} ) [ {id( d_copy )} ]' )

d      : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0], 'name': 'HONG'} ( 4 ) [ 139911612967824 ]
d_copy : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0], 'name': 'HONG'} ( 4 ) [ 139911612897472 ]

In [ ]:
d_copy[ 'name' ] = 'Hong gil dong'

print( f'd      : {d} ( {len( d )} ) [ {id( d )} ]' )
print( f'd_copy : {d_copy} ( {len( d_copy )} ) [ {id( d_copy )} ]' )

d      : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0], 'name': 'HONG'} ( 4 ) [ 139911612967824 ]
d_copy : {'hong': [50, 50, 50, 150, 50.0], 'kim': [90, 90, 90, 270, 90.0], 'lee': [70, 70, 70, 210, 70.0], 'name': 'Hong gil dong'} ( 4 ) [ 139911612897472 ]

## dict comprehension

In [ ]:
# dict comprehension 적용하지 않는 경우
# 문자 빈도수 저장 dict 생성
word = 'letters'
d = {}

for letter in word:
    d[ letter ] = word.count( letter )

print( f'd : {d} ( {len( d )} )' )

d : {'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1} ( 5 )

In [ ]:
# dict comprehension 적용
d = { letter:word.count( letter ) for letter in word }

print( f'd : {d} ( {len( d )} )' )

d : {'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1} ( 5 )

### 실습) 3명의 이름, 점수1, 점수2를 입력받아 총점, 평균 출력 파이썬 스크립트

In [ ]:
MAX_STUDENT = 3
MAX_SUBJECT = 2
LOW_SCORE = 0
HIGH_SCORE = 100

students = {}

for i in range( MAX_STUDENT ):
    name = input( f'[ {i+1:2} ]번째 학생 이름 입력 : ' ) # key 사용할 값

    student =  [] # value 사용할 값
    for j in range( MAX_SUBJECT ):
        score = int( float( input( f'[ {j+1:2} ]번째 점수 입력 : ' ) ) )
        while score < LOW_SCORE or score > HIGH_SCORE:
            print( f'\t\tError : 점수는 {LOW_SCORE} ~ {HIGH_SCORE} 범위만 가능' )
            score = int( float( input( f'[ {j+1:2} ]번째 점수 입력 : ' ) ) )
        student.append( score )

    student.append( sum( student ) )
    student.append( student[ len( student ) - 1 ] / MAX_SUBJECT )

    students[ name ] = student
    print()

print()
for name, student in students.items():
    print( f'{name:<20}', end = '' )
    for i in range( MAX_SUBJECT ):
        print( f'{student[ i ]:5}', end = '' )
    print( f'{student[ MAX_SUBJECT ]: 6}{student[ MAX_SUBJECT + 1 ]:8.2f}' )

[  1 ]번째 학생 이름 입력 : hong
[  1 ]번째 점수 입력 : 50
[  2 ]번째 점수 입력 : 50

[  2 ]번째 학생 이름 입력 : kim
[  1 ]번째 점수 입력 : 90
[  2 ]번째 점수 입력 : 90

[  3 ]번째 학생 이름 입력 : lee
[  1 ]번째 점수 입력 : 70
[  2 ]번째 점수 입력 : 70


hong                   50   50   100   50.00
kim                    90   90   180   90.00
lee                    70   70   140   70.00

### 실습) 이전 코드에서 생성된 학생 성적 정보를 이용한 검색 기능을 갖는 파이썬 스크립트

In [ ]:
END = 'end'

search_name = input( '검색할 학생 이름 입력( 종료 : "end" ) : ' )
while search_name != END:
    result = students.get( search_name, False )
    if result:
        print( f'{search_name:<20}', end = '' )
        for i in range( MAX_SUBJECT ):
            print( f'{result[ i ]:5}', end = '' )
        print( f'{result[ MAX_SUBJECT ]: 6}{result[ MAX_SUBJECT + 1 ]:8.2f}' )
    else:
        print( f'Error : {search_name:<20} 학생의 성적 정보는 없습니다.' )
    
    search_name = input( '\n검색할 학생 이름 입력( 종료 : "end" ) : ' )

검색할 학생 이름 입력( 종료 : "end" ) : hong
hong                   50   50   100   50.00

검색할 학생 이름 입력( 종료 : "end" ) : lee
lee                    70   70   140   70.00

검색할 학생 이름 입력( 종료 : "end" ) : park
Error : park                 학생의 성적 정보는 없습니다.

검색할 학생 이름 입력( 종료 : "end" ) : kim
kim                    90   90   180   90.00

검색할 학생 이름 입력( 종료 : "end" ) : end

# set

## set 생성

In [ ]:
# 빈 set 생성
s = set()

print( f's : {s} ( {type( s )} - {len( s )} )' )

s : set() ( <class 'set'> - 0 )

In [ ]:
# {}를 이용한 set 생성
s = { 1, 2, 3, 2, 4, 2 }
print( f's : {s} ( {type( s )} - {len( s )} )' )

s : {1, 2, 3, 4} ( <class 'set'> - 4 )

In [ ]:
# set() 함수를 이용한 set 생성
s = set( [ 1, 2, 3, 2, 4, 2 ] )
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4} ( 4 )

In [ ]:
s = set( ( 1, 2, 3, 2, 4, 2 ) )
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4} ( 4 )

In [ ]:
s = set( { 'sun': 0, 'mon': 1, 'tue': 2, 'mon': 3 } )
print( f's : {s} ( {len( s )} )' )

s : {'mon', 'sun', 'tue'} ( 3 )

In [ ]:
# 불변 자료형 요소만 갖을 수 있다.
s = set( ( [ 1, 2, 3 ], [ 1, 2, 3 ] ) )
print( f's : {s} ( {len( s )} )' )

TypeError: ignored

### sequence 공통 연산

In [ ]:
s = { 1, 2, 3, 2, 4, 2 }
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4} ( 4 )

In [ ]:
# indexing
s[ 0 ]

TypeError: ignored

In [ ]:
# slicing
s[ :2 ]

TypeError: ignored

In [ ]:
# 연결
s + s

TypeError: ignored

In [ ]:
# 반복
s * 2

TypeError: ignored

In [ ]:
# 포함유무확인
1 in s

True

In [ ]:
5 in s

False

In [ ]:
# 길이 계산
len( s )

4

### set 메서드

In [ ]:
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4} ( 4 )

In [ ]:
# add() 메서드
s.add( 5 )
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4, 5} ( 5 )

In [ ]:
s.add( 6 )
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4, 5, 6} ( 6 )

In [ ]:
s.add( 4 ) # 값 추가
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4, 5, 6} ( 6 )

In [ ]:
s.add( ( 1, 7, 9 ) ) # tuple 추가
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4, 5, 6, (1, 7, 9)} ( 7 )

In [ ]:
s.add( [ 1, 7, 9 ] )
print( f's : {s} ( {len( s )} )' )

TypeError: ignored

In [ ]:
s = { 1, 3, 5 }
print( f's : {s} ( {len( s )} )' )

s : {1, 3, 5} ( 3 )

In [ ]:
s2 = { 2, 4, 6 }
print( f's2 : {s2} ( {len( s2 )} )' )

s2 : {2, 4, 6} ( 3 )

In [ ]:
# update() 메서드
s.update( s2 )
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4, 5, 6} ( 6 )

#### 삭제

In [ ]:
s.add( ( 1, 2, 3 ) )
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4, 5, 6, (1, 2, 3)} ( 7 )

In [ ]:
# discard() 메서드
s.discard( 1 )
print( f's : {s} ( {len( s )} )' )

s : {2, 3, 4, 5, 6, (1, 2, 3)} ( 6 )

In [ ]:
s.discard( ( 1, 2, 3 ) )
print( f's : {s} ( {len( s )} )' )

s : {2, 3, 4, 5, 6} ( 5 )

In [ ]:
s.discard( 1 )
print( f's : {s} ( {len( s )} )' )

s : {2, 3, 4, 5, 6} ( 5 )

In [ ]:
# remove() 메서드
s.remove( 2 )

In [ ]:
print( f's : {s} ( {len( s )} )' )

s : {3, 4, 5, 6} ( 4 )

In [ ]:
s.remove( 2 )
print( f's : {s} ( {len( s )} )' )

KeyError: ignored

In [ ]:
print( f's : {s} ( {len( s )} )' )

s : {3, 4, 5, 6} ( 4 )

In [ ]:
# pop() 메서드
remove_value = s.pop()
print( f's : {s} ( {len( s )} )' ) 
print( f'remove value : {remove_value}' )

s : {4, 5, 6} ( 3 )
remove value : 3

In [ ]:
remove_value = s.pop()
print( f's : {s} ( {len( s )} )' ) 
print( f'remove value : {remove_value}' )

s : {5, 6} ( 2 )
remove value : 4

In [ ]:
# clear() 메서드
s.clear()
print( f's : {s} ( {len( s )} )' )

s : set() ( 0 )

### 집합 연산

In [ ]:
s1 = { 1, 2, 3, 4, 5, 6 }
s2 = { 4, 5, 6, 7, 8, 9 }

print( f's1 : {s1} ( {len( s1 )} )' ) 
print( f's2 : {s2} ( {len( s2 )} )' )

s1 : {1, 2, 3, 4, 5, 6} ( 6 )
s2 : {4, 5, 6, 7, 8, 9} ( 6 )

In [ ]:
# 교집합
s1.intersection( s2 )

{4, 5, 6}

In [ ]:
s1 & s2

{4, 5, 6}

In [ ]:
# 합집합
s1.union( s2 )

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합
s1.difference( s2 ) # s2에 대한 s1의 차집합

{1, 2, 3}

In [ ]:
s1 - s2

{1, 2, 3}

In [ ]:
s2.difference( s1 )

{7, 8, 9}

In [ ]:
s2 - s1

{7, 8, 9}

### copy() 메서드

In [ ]:
s = { 1, 2, 3, 4, 2, 5 }
print( f's : {s} ( {len( s )} )' )

s : {1, 2, 3, 4, 5} ( 5 )

In [ ]:
s_copy = s
print( f's      : {s} ( {len( s )} ) [ {id( s )} ]' ) 
print( f's_copy : {s_copy} ( {len( s_copy )} ) [ {id( s_copy )} ]' )

s      : {1, 2, 3, 4, 5} ( 5 ) [ 139911612298976 ]
s_copy : {1, 2, 3, 4, 5} ( 5 ) [ 139911612298976 ]

In [ ]:
s_copy2 = s.copy()
print( f's       : {s} ( {len( s )} ) [ {id( s )} ]' ) 
print( f's_copy2 : {s_copy2} ( {len( s_copy2 )} ) [ {id( s_copy2 )} ]' )

s       : {1, 2, 3, 4, 5} ( 5 ) [ 139911612298976 ]
s_copy2 : {1, 2, 3, 4, 5} ( 5 ) [ 139911612299216 ]

### 순회

In [ ]:
for v in s:
    print( v )

1
2
3
4
5

### set comprehension

In [ ]:
s = { v for v in range( 1, 6 ) }
print( f's : {s} ( {len( s )} ) [ {id( s )} ]' )

s : {1, 2, 3, 4, 5} ( 5 ) [ 139911612300176 ]

In [ ]:
s = { v for v in [ 1, 2, 3, 4, 5, 4, 2, 6, 1 ] }
print( f's : {s} ( {len( s )} ) [ {id( s )} ]' )

s : {1, 2, 3, 4, 5, 6} ( 6 ) [ 139911612300656 ]

In [ ]:
s = { v for v in 'python' if v not in 'aieou' }
print( f's : {s} ( {len( s )} ) [ {id( s )} ]' )

s : {'t', 'y', 'p', 'h', 'n'} ( 5 ) [ 139911612299696 ]