<a href="https://colab.research.google.com/github/Ogaang/Python-Practice/blob/master/Practice_2day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문

## 선택 구조

### 단순 선택 구조

In [ ]:
number1 = 100
number2 = 20

In [ ]:
if number1 > number2:
    print( number1, ' > ', number2 )

100  >  20

In [ ]:
if number1 < number2:
    print( number1, ' > ', number2 )

### 양자 택일 구조

In [ ]:
if number1 > number2:
    print( number1, ' > ', number2 )
else:
    print( number2, ' >= ', number1 )

101  >=  100

In [ ]:
number2 = 101 

if number1 > number2:
    print( number1, ' > ', number2 )
else:
    print( number2, ' >= ', number1 )

101  >=  100

In [ ]:
if not number1 > number2:
    print( number2, ' >= ', number1 )  
else:
    print( number1, ' > ', number2 )

101  >=  100

### 다중 선택 구조

In [ ]:
score = 69

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print( score, ' grade : ', grade )

69  grade :  D

### 중첩 선택 구조

In [ ]:
age = 25
army = True
gender = True

In [ ]:
if gender:
    if age > 20 and army:
        print( '나이가 20세이상이고 군대 다녀옴' )
    else:
        print( '나이가 20세이상이고 군대 안다녀옴' )
else:
    print( '여성' )

나이가 20세이상이고 군대 다녀옴

## 반복 구조

### for문

In [ ]:
# i : 반복 제어 변수, range() 함수의 결과를 기억
for i in range( 1, 10, 1 ):
    print( i, end = '\t' )

1	2	3	4	5	6	7	8	9

In [ ]:
for i in range( 1, 11, 1 ):
    print( i, end = '\t' )

1	2	3	4	5	6	7	8	9	10

In [ ]:
for i in range( 11 ):
    print( i, end = '\t' )

0	1	2	3	4	5	6	7	8	9	10

In [ ]:
for i in range( 1, 10, 2 ):
    print( i, end = '\t' )

1	3	5	7	9

In [ ]:
for i in range( 0, 11, 2 ):
    print( i, end = '\t' )

0	2	4	6	8	10

In [ ]:
for _ in range( 11 ):
    print( 'Python programming' )

Python programming
Python programming
Python programming
Python programming
Python programming
Python programming
Python programming
Python programming
Python programming
Python programming
Python programming

### 중첩 for문

In [ ]:
print( '\t\t\tmultiple table\n' )
for i in range( 2, 10 ): # 바깥 for
    for j in range( 1, 10 ): # 안쪽 for
        print( i * j, end = '\t' )
    print()

			multiple table

2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

## while문

In [ ]:
i = 1 # 반복 제어 변수 생성( 초기값 부여 )
while i < 11: # 반복 조건 판단
    print( i, end = '\t' )
    i += 1 # 반복 제어 변수 변경

1	2	3	4	5	6	7	8	9	10

### 중첩 while문

In [ ]:
i = 2

print( '\t\t\tmultiple table\n' )
while i < 10:
    j = 1 # reset
    while j < 10:
        print( i * j, end = '\t' )
        j += 1
    print()
    i += 1

			multiple table

2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

#### 'end'가 입력될 때까지 반복 하면서 입력된 내용을 출력하는 파이썬 script

In [ ]:
# 2-read 기법
# 반복 진입 유무 결정하는 입력
# 이 입력은 한번만 수행
string = input( '원하는 내용을 입력하세요( "end" 입력 : 종료 ) : ' )
i = 0
while string != 'end':
    i += 1
    print( '[ ', i, ' ] : ', string )
    string = input( '원하는 내용을 입력하세요( "end" 입력 : 종료 ) : ' )

원하는 내용을 입력하세요( "end" 입력 : 종료 ) : python
[  1  ] :  python
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : programming
[  2  ] :  programming
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : hello
[  3  ] :  hello
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : world
[  4  ] :  world
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : end

In [ ]:
# 무한 반복을 이용한 기법
i = 0
while True: # 참인동안 반복, 무한 loop
    string = input( '원하는 내용을 입력하세요( "end" 입력 : 종료 ) : ' )
    if string == 'end':
        break # 강제로 반복구조 탈출
    i += 1
    print( '[ ', i, ' ] : ', string )

원하는 내용을 입력하세요( "end" 입력 : 종료 ) : python
[  1  ] :  python
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : programming
[  2  ] :  programming
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : hello
[  3  ] :  hello
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : world
[  4  ] :  world
원하는 내용을 입력하세요( "end" 입력 : 종료 ) : end

#### break/continue

In [ ]:
i = 1
while i < 10:
    if i == 5:
        i += 1
        continue # 다시 조건 검사
    
    if i == 8:
        break # 반복 강제 종료

    print( i )
    i += 1

1
2
3
4
6
7

# 문제 풀이 과정

## 문제) 10개 이내의 정수를 입력받아 평균을 출력하는 파이썬 스크립트

### 문제 이해

1. 입력 자료  
    10개 이내의 정수

2. 출력 자료( 결과 )  
    평균

3. 추가 자료  
    합계
    입력 데이터 개수

### 알고리즘 설계

0. 변수 정의  
1. 10개 이내 반복  
    1.1 정수 입력  
    1.2 합계 누적
2. 평균 계산  
3. 결과 출력

### 구현

In [ ]:
# 0. 변수 정의
MAX_DATA = 10 # Symbolic Constant, 의미화 상수

sum = 0 # 합계
i = 1 # 입력 데이터 count

# 1.1 정수 입력
print( '[ ', i, ' ] 번째 정수 입력( -1이면 종료 ) : ', end = '' )
number = int( float( input() ) )
# 1. 10개 이내 반복
while number != -1 and i < MAX_DATA:
    # 1.2 합계 계산
    sum += number
    
    i += 1
    # 1.1 정수 입력
    print( '[ ', i, ' ] 번째 정수 입력( -1이면 종료 ) : ', end = '' )
    number = int( float( input() ) )

# 2. 평균 계산
average = sum / ( i -  1 )

# 3. 결과 출력
print( 'average = ', average )

[  1  ] 번째 정수 입력( -1이면 종료 ) : 50
[  2  ] 번째 정수 입력( -1이면 종료 ) : 50
[  3  ] 번째 정수 입력( -1이면 종료 ) : 50
[  4  ] 번째 정수 입력( -1이면 종료 ) : 50
[  5  ] 번째 정수 입력( -1이면 종료 ) : 50
[  6  ] 번째 정수 입력( -1이면 종료 ) : 50
[  7  ] 번째 정수 입력( -1이면 종료 ) : 50
[  8  ] 번째 정수 입력( -1이면 종료 ) : 50
[  9  ] 번째 정수 입력( -1이면 종료 ) : 50
[  10  ] 번째 정수 입력( -1이면 종료 ) : 50
average =  50.0

## 실습) 10개 이내의 정수를 입력받아 양수와 음수의 개수를 세고, 양수일 때 짝수와 홀수의 개수를 세어서 출력하는 파이썬 스크립트

### 문제 이해

1. 입력 자료  
    10개 이내의 정수

2. 출력 자료( 결과 )  
    양수 개수  
    음수 개수  
    짝수 개수  
    홀수 개수

3. 추가 자료  
    입력 데이터 개수  
    에러 데이터 개수

### 알고리즘 설계

0. 변수 정의  
1. 10개 이내 반복  
    1.1 정수 입력  
    1.2 정수가 양수이면 양수갯수 세기  
        1.2.1 짝수/홀수 판별하여 개수 세기  
    1.3 정수가 음수이면 음수갯수 세기  
    1.4 정수가 양수/음수가 아니면 에러 개수 세기
2. 결과 출력

### 구현

In [ ]:
# Symbolic Constant
MAX_DATA = 10
END_DATA = -99999 

count = 1 # 입력 데이터 갯수 저장
positive_count = 0 # 양수 갯수 저장
negative_count = 0 # 음수 갯수 저장
even_count = 0 # 짝수 갯수 저장
odd_count = 0 # 홀수 갯수 저장
error_count = 0 # 에러 데이터 갯수 저장

while True:
    print( '[ ', count, ' ] 번째 정수 입력( -99999이면 종료 ) : ', end = '' )
    number = int( float( input() ) )

    if number == END_DATA:
        break
    if number != 0: # 입력 값 에러 확인
        if number > 0: # 양수 처리
            positive_count += 1
            if number % 2 == 0:
                even_count += 1
            else:
                odd_count += 1
        else: # 음수 처리
            negative_count += 1
    else:
        error_count += 1
        print( '\nError : input zero\n' ) 
    count += 1
    if count > MAX_DATA:
        count -= 1
        break

print( '\n\ntotal input data : ', count, '\n' )
print( 'positive count : ', positive_count )
print( '\teven count : ', even_count )
print( '\todd count : ', odd_count )
print( 'negative count : ', negative_count )
print( '\nerror count : ', error_count )

[  1  ] 번째 정수 입력( -99999이면 종료 ) : 1
[  2  ] 번째 정수 입력( -99999이면 종료 ) : 2
[  3  ] 번째 정수 입력( -99999이면 종료 ) : 3
[  4  ] 번째 정수 입력( -99999이면 종료 ) : -4
[  5  ] 번째 정수 입력( -99999이면 종료 ) : 0

Error : input zero

[  6  ] 번째 정수 입력( -99999이면 종료 ) : 6
[  7  ] 번째 정수 입력( -99999이면 종료 ) : 7
[  8  ] 번째 정수 입력( -99999이면 종료 ) : 8
[  9  ] 번째 정수 입력( -99999이면 종료 ) : 9
[  10  ] 번째 정수 입력( -99999이면 종료 ) : 10


total input data :  11

positive count :  8
	even count :  4
	odd count :  4
negative count :  1

error count :  1

### 문제) 10개의 정수를 입력받아 평균을 계산하고 평균과의 차이를 출력하는 파이썬 스크립트

In [ ]:
MAX_DATA = 2
sum = 0
for i in range( MAX_DATA ):
    print( '[ ', i + 1, ' ] ', end = '' )
    number = int( float( input( '정수 입력 ' ) ) )
    sum += number
average = sum / MAX_DATA

for i in range( MAX_DATA ):
    difference = average - number
    print( average, ' - ', number, ' = ', difference )

[  1  ] 정수 입력 50
[  2  ] 정수 입력 90
70.0  -  90  =  -20.0
70.0  -  90  =  -20.0

# 불변 자료형 특징

In [ ]:
variable = 10

In [ ]:
print( variable, '[ ', id( variable ), ' ]' )

10 [  94206315739936  ]

In [ ]:
variable += 10

In [ ]:
print( variable, '[ ', id( variable ), ' ]' )

20 [  94206315740256  ]

# str

## str literal

In [ ]:
print( 'python' )

python

In [ ]:
print( "python" )

python

In [ ]:
print( '"python"' )

"python"

In [ ]:
print( "'python'" )

'python'

In [ ]:
print( 
'python \
programming' )

python programming

In [ ]:
print( 
'''python 
programming''' )

python
programming

In [ ]:
print(
'''
1. 자료 입력
2. 자료 조회
3. 자료 출력
0. 종료
select
'''
)

1. 자료 입력
2. 자료 조회
3. 자료 출력
0. 종료
select

In [ ]:
variable = 1000
print( variable )

1000

In [ ]:
변수 = 1000
print( 변수 )

1000

### str 변수 생성

In [ ]:
# str 변수 생성
name = 'hong gil dong'

In [ ]:
print( 'name = ', name, '\t[ ', type( name ), ' ]' )

name =  hong gil dong 	[  <class 'str'>  ]

In [ ]:
value = 100
value_str = str( value ) # str 변수 생성( 형변환 )

In [ ]:
print( 'value_str = ', value_str,
       '\t[ ', type( value_str ), ' ]' )

value_str =  100 	[  <class 'str'>  ]

In [ ]:
print( 'value_str = ', value_str, '\t[ ', id( value_str ), ' ]' )

value_str =  100 	[  139804276000688  ]

In [ ]:
value_str = 'number:100' # 기존 변수 내용 변경

In [ ]:
print( 'value_str = ', value_str, '\t[ ', id( value_str ), ' ]' )

value_str =  number:100 	[  139804275405808  ]

### str 변수 Sequence 공통연산

#### indexing

In [ ]:
string = 'pythonPrograming'
print( 'string = ', string,
       '\t[ ', id( string ),
       '\t', type( string ), ' ]' )

string =  pythonPrograming 	[  139804275398896 	 <class 'str'>  ]

In [ ]:
string[ 0 ]

'p'

In [ ]:
string[ 3 ]

'h'

In [ ]:
string[ -1 ] # reverse위치에서 첫번째

'g'

In [ ]:
string[ -2 ]

'n'

#### slicing

In [ ]:
print( 'string = ', string,
       '\t[ ', id( string ),
       '\t', type( string ), ' ]' )

string =  pythonPrograming 	[  139804275398896 	 <class 'str'>  ]

In [ ]:
string[ 0:5:1 ]

'pytho'

In [ ]:
string[ :5: ]

'pytho'

In [ ]:
string[ :5 ]

'pytho'

In [ ]:
string[ 5: ]

'nPrograming'

In [ ]:
string[ 5::2 ]

'nrgaig'

In [ ]:
string[ ::-1 ] # reverse

'gnimargorPnohtyp'

In [ ]:
string[ -3:-1: ]

'in'

#### 연결

In [ ]:
string1 = 'python'
string2 = 'programming'
print( 'string1 : ', string1, '\nstring2 : ', string2 )

string1 :  python
string2 :  programming

In [ ]:
print( string1 + string2 )
print( string1 + ' ' + string2 )

pythonprogramming
python programming

In [ ]:
string3 = string1 + ' ' + string2 
print( 'string3 : ', string3 )

string3 :  python programming

#### 반복

In [ ]:
print( string1 * 3 )

pythonpythonpython

In [ ]:
print( string1 + string2 * 2 )

pythonprogrammingprogramming

In [ ]:
print( ( string1 + string2 ) * 2 )

pythonprogrammingpythonprogramming

#### 포함유무 확인

In [ ]:
string = 'python programming hello world'
print( string )

python programming hello world

In [ ]:
'python' in string

True

In [ ]:
'hello' in string

True

In [ ]:
'Hello' in string

False

In [ ]:
not 'Hello' in string

True

#### 길이 계산

In [ ]:
print( 'string : ', string, '\nlength : ', len( string ) )

string :  python programming hello world
length :  30

In [ ]:
print( string[ :len( string ) ] )

python programming hello world

In [ ]:
print( string[ len( string ) - 1 ] )

d

### 문자열 formatting

In [ ]:
name = '홍길동'
age = 25
gender = '남'
weight = 65.7
height = 180.3

In [ ]:
print( name, '\t', age, '\t',
       gender, '\t', weight, 'kg\t', 
       height, 'cm' )

홍길동 	 25 	 남 	 65.7 kg	 180.3 cm

#### 기본 방식 문자열 formatting

In [ ]:
fmt = '%10s %3d %2s %5.1fkg %6.1fcm' % ( name, age, gender,
                                       weight, height )
print( fmt )

       홍길동  25  남  65.7kg  180.3cm

In [ ]:
print( '%-10s %3d %2s %5.1fkg %6.1fcm' % ( name, age, gender,
                                       weight, height ) )

홍길동         25  남  65.7kg  180.3cm

#### format() 메서드 이용 문자열 formatting

In [ ]:
fmt = '{0:<10} {1:3} {2:2} {3:5.1f}kg {4:6.1f}cm'.format(
    name, age, gender, weight, height
)
print( fmt )

홍길동         25 남   65.7kg  180.3cm

In [ ]:
print( '{:<10} {:3} {:2} {:5.1f}kg {:6.1f}cm'.format(
    name, age, gender, weight, height ) )

홍길동         25 남   65.7kg  180.3cm

In [ ]:
print( '{0:^10} {1:3} {2:2} {4:6.1f}cm {3:5.1f}kg '.format(
    name, age, gender, weight, height ) )

   홍길동      25 남   180.3cm  65.7kg

In [ ]:
print( '{0:>10} {1:3} {2:2} {4:6.1f}cm {3:5.1f}kg '.format(
    name, age, gender, weight, height ) )

       홍길동  25 남   180.3cm  65.7kg

#### f-string을 이용한 문자열 formatting

In [ ]:
fmt = f'{name:<10} {age:3} {gender:2} \
{weight:5.1f}kg {height:6.1f}cm'
print( fmt )

홍길동         25 남   65.7kg  180.3cm

In [ ]:
print( f'{name:<10} {age:3} {gender:2} \
{weight:5.1f}kg {height:6.1f}cm' )

홍길동         25 남   65.7kg  180.3cm

In [ ]:
print( f'{"이름":^10} : {name:<10}' )
print( f'{"나이":^10} : {age:3}' )
print( f'{"성별":^10} : {gender:2}' )
print( f'{"몸무게":^10} : {weight:5.1f}kg' )
print( f'{"키":^10} :{height:6.1f}cm' )

    이름     : 홍길동
    나이     :  25
    성별     : 남
   몸무게     :  65.7kg
    키      : 180.3cm